<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="End-To-End-Test">
<listeners>
			<listener class-name= "org.ac.testUtils.Listeners" />
 	</listeners >
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.ac.android.Login"/>
      <class name="org.ac.android.NoticeBoard"/>
      <class name="org.ac.testUtils.AcAndroidBase"/>
      <class name="org.ac.ios.ZZTest"/>
      <class name="org.ac.testUtils.AciOSBase"/>
      <class name="org.ac.ios.IOSLogin"/>
      <class name="org.ac.ios.IOSNoticeBoard"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
